# movie recommendations psuedo code
import pandas to have txt file for movies read  
create dictionary for movie txt file  
load the medium english language model  
create a variable for the watched movie and make nlp for the description  
create an empty list to have the similarity scores concatenated to  
loop for descriptions in movie list dataframe for similarities  
append to a new dictionary with movies  
return the max value in a string

In [125]:
import pandas as pd
import spacy

In [126]:
nlp = spacy.load('en_core_web_md')

In [127]:
planet_hulk = "Will he save their world or destroy it? When the Hulk becomes too dangerous for the Earth, the Illunimati tricks Hulk into a shuttle and launch him into space to a planet where the Hulk can live in peace. Unfortunately, Hulk lands on the planet Sakaar where he is sold into slavery and trained as a gladiator."
movie = 'movies.txt'

In [128]:
df = pd.read_csv(movie, sep=':', header=None, names=['key', 'value'])

In [129]:
# perform NLP on the watched movie description
description_to_compare = nlp(planet_hulk)

In [130]:
# Checks to ensure df imported
df.head()

        key                                              value
0  Movie A   When Hiccup discovers Toothless isn't the only...
1  Movie B   After the death of Superman, several new peopl...
2  Movie C   A darkness swirls at the center of a world-ren...
3  Movie D   A humorous take on Sir Arthur Conan Doyle's cl...
4  Movie E   A 16-year-old girl and her extended family are...

In [131]:
# An empty list to concatenate the looped similarity values to
similarity_values = []

In [132]:
for index, row in df.iterrows():
    similarity = description_to_compare.similarity(nlp(row['value']))
    # print(f"{row['key']}. Similarity: {similarity}.\n")
    similarity_values.append(similarity) # Adds the values to the dataframe
df['similarity'] = similarity_values # names the new column "similarity"

In [133]:
# Check to see whether the numbers are correctly added
df.head()

        key                                              value  similarity
0  Movie A   When Hiccup discovers Toothless isn't the only...    0.837600
1  Movie B   After the death of Superman, several new peopl...    0.838418
2  Movie C   A darkness swirls at the center of a world-ren...    0.907623
3  Movie D   A humorous take on Sir Arthur Conan Doyle's cl...    0.541554
4  Movie E   A 16-year-old girl and her extended family are...    0.724891

In [136]:
max_similarity_index = df['similarity'].idxmax() # Finds out the index location for the max value
print(f"You've Enjoyed Planet Hulk, would you like to watch {df.loc[max_similarity_index, 'key']}?") # Uses the index to find the corresponding movie

You've Enjoyed Planet Hulk, would you like to watch Movie C ?