In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('balance.txt',sep=' ')

In [4]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.

In [6]:
average_income_by_ethnicity = df.groupby('Ethnicity')['Income'].mean()
print(average_income_by_ethnicity)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

* On average, do married or single people have a higher balance?

In [7]:
average_balance_married = df.groupby('Married')['Balance'].mean()
print(average_balance_married)

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

On average, single people have a higher balance.

* What is the highest income in our dataset?

In [8]:
df.sort_values(by='Income', ascending=False).head(1)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
28,35.271011,186.634,13414,949,2,41,14,Female,No,Yes,African American

* What is the lowest income in our dataset?

In [9]:
df.sort_values(by='Income', ascending=True).head(1)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian

* How many cards do we have recorded in our dataset? (Hint: use `sum()`)

In [12]:
total_cards = sum(df.iloc[:,4])
print(f"There are a total of {total_cards} cards")

There are a total of 1183 cards

* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [16]:
total_females = df['Gender'].value_counts()
print(total_females)

Gender
Female    207
Male      193
Name: count, dtype: int64